# Archivos de compilación
*.o
*.obj
*.dll
*.exe
*.so
*.dylib
*.a
*.lib
*.ncb
*.sdf
*.user
*.suo
*.idb
*.pdb
*.qrc.dep
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# Archivos del entorno de desarrollo
.DS_Store
.vscode/
.idea/
*.pro.user
*.pro.user.*
*.qmake.stash
*.qmake.cache

# Carpetas de compilación
build-*/
debug/
release/
